.navMenu{
 display: flex;
 justify-content: center;
 padding: 0 20px;
 margin: 50px;

&__lista{
    padding: 20px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
}